[Unit]
Description=BitFinex Ticker
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/pi/scrollphat-bitfinex/
User=pi
ExecStart=/home/pi/scrollphat-bitfinex/main.py -t phat -d

[Install]
WantedBy=multi-user.target
